<launch>
  <!-- Publishes the voxel grid to rviz for display -->
<!--  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node> -->

  <!-- Run the costmap node -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" >
    <rosparam file="$(find basketbot_mapping)/costmap_params/costmap_params.yaml" command="load" ns="costmap" />
   <!-- <rosparam file="$(find basketbot_mapping)/costmap_params/costmap_params_local.yaml" command="load" /> -->
  </node>

<!--  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 base_link_respondable camera_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 world map 30" />
-->
</launch>
