
<launch>
<arg name="senzarobot" default="$(optenv OPENNI_WATCHDOG false)" />
<include file="$(find basketbot_launch)/launch/basketbot_tracker.launch"/> 
<include file="$(find basketbot_launch)/launch/basketbot_openni.launch" unless="$(arg senzarobot)"/> 
<include file="$(find basketbot_launch)/launch/fakelaser.launch"/> 


<arg name="launch_file" default="basketbot_openni.launch" />
<node name="watchdog_launcher" pkg="player_tracker" type="face_recognition_watchdog" args="basketbot_launch $(arg launch_file)" output="screen" if="$(arg senzarobot)"/>



</launch>



