<launch>
<include file="$(find openni2_launch)/launch/openni2.launch">
  <!-- Driver parameters -->
  <arg name="color_depth_synchronization"     default="false" />
  <arg name="auto_exposure"                   default="false" />
  <arg name="auto_white_balance"              default="false" />
  
  <!-- Processing Modules -->
  <arg name="rgb_processing"                  default="false"  />
  <arg name="debayer_processing"              default="false" />
  <arg name="ir_processing"                   default="false" />
  <arg name="depth_processing"                default="true" />
  <arg name="depth_registered_processing"     default="true" />
  <arg name="disparity_processing"            default="false" />
  <arg name="disparity_registered_processing" default="false" />
  <arg name="num_worker_threads" default="2" />
</include>


<node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set /camera/driver use_device_time false" />


</launch>
