<launch>
<arg name="use_watchdog" default="false" />
 

<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 1.57 0 1.57 camera_link camera_link2 30" />

<group ns="tracker">
     <node name="face_recognition" pkg="nite_tracker" type="face_recognition_standalone" />
     <node pkg="nodelet" type="nodelet" name="drivere" args="load nite_tracker/NiteTrackerNodelet /camera/camera_nodelet_manager" respawn="true" />
</group>


</launch>

