<launch>
<include file="$(find basketbot_launch)/launch/basketbot_vision.launch" >
 <arg name="senzarobot" value="true" />
</include>
<include file="$(find basketbot_launch)/launch/basketbot_transforms.launch" />
<include file="$(find basketbot_launch)/launch/basketbot_mapping.launch" />
<include file="$(find basketbot_launch)/launch/basketbot_brain.launch" />
<include file="$(find basketbot_launch)/launch/teleop_joy.launch" />
<include file="$(find basketbot_launch)/launch/basketbot_userpose.launch" />
</launch>
